
body {
  background-color: #000000;
  font-family: system-ui, sans-serif;
  color: #ffffff;
  text-align: center;
}

h1 {
  font-size: 50px;
}

div {
  padding: 10px 0px;
}

p {
  color: #bbbbbb;
  margin: 10px;
}

section {
  padding: 50px 0px;
}

button {
  display: block;
  margin: 0 auto;
  background: none;
  border: none;
  color: #ffffff;
}

iframe {
  margin: 0px;
  display: block;
  margin: 0 auto;
  border-radius: 2%;
  border-color: #ffffff;
  position: relative;
  width: 500px;
  height: 250px;
}

.header-text {
  color: #184ba8;
}