:root {
  --primary_color: #0066ff;
}

body {
  background-color: #000000;
  font-family: system-ui, sans-serif;
  color: #ffffff;
  text-align: center;
}

h1 {
  font-size: 50px;
}

div {
  padding: 10px 0px;
}

p {
  color: #bbbbbb;
  margin: 10px;
  font-size: large;
}

section {
  padding: 50px 0px;
}

button {
  display: block;
  margin: 0 auto;
  background: none;
  border: none;
  color: #ffffff;
  font-size: large;
}

iframe {
  display: block;
  margin: 0 auto;
  border-radius: 2%;
  border-color: #ffffff;
  width: 700px;
  height: 400px;
  aspect-ratio: auto;
}

.header-text {
  color: var(--primary_color);
}

.view_button {
  color: var(--primary_color);
  font-weight: 600;
}

.view_button:hover {
  color: #148dff;
}

.list {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}